div.intro {
    border-radius: 25px;
    border: 2px solid #FFFFFF;
	background-image: url("../images/tpbg.png");
    padding: 10px; 
    width: 45%;
  	text-align: left;
	font-size: 2.2vw;
	font-family: monospace;
}
div.cryptdisplay {
	word-wrap: break-word;
  	text-align: left;
	font-size: 2vw;
	font-family: monospace;
}
div.secrets {
    border-radius: 25px;
    border: 2px solid #FFFFFF;
	background-image: url("../images/tpbg.png");
    padding: 10px; 
    width: 80%;
	word-wrap: break-word;
  	text-align: left;
	font-size: 2vw;
	font-family: monospace;
}
div.secretsBtn {
    border-radius: 25px;
    border: 2px solid #FFFFFF;
	background-image: url("../images/tpbg.png");
    padding: 5px; 
  	text-align: center;
    width: 30%;
}
div.decryptBtn {
    border-radius: 25px;
    border: 2px solid #FFFFFF;
    padding: 5px; 
  	text-align: center;
	width: 30%;
}
.hand {
	color: #FFFFFF;
	font-size: 2vw;
	font-weight: bold;
	font-family: monospace;
}
.viewlink {
	color: #FFFFFF;
	font-size: 2vw;
	font-weight: bold;
	font-family: Serif;
	text-decoration: none;
	text-shadow: 1px 1px #FFFFFF;
}
.viewlink:hover {
	text-decoration: underline;
	text-shadow: 1px 1px #FF4040;
}
.secretslink {
	color: #FFFFFF;
	font-size: 2.5vw;
	font-weight: bold;
	font-family: Serif;
	text-decoration: none;
	text-shadow: 1px 1px #FFFFFF;
}
.secretslink:hover {
	text-decoration: underline;
	text-shadow: 1px 1px #FF4040;
}
.idtxt {
    color: #404040;
    font-size: 8pt;
    text-decoration: none;
}
.formtext {
    color: #FFFFFF;
    font-weight: bold;
	font-size: 2vw;
    text-decoration: none;
}
.forminput {
    border: 1px solid #909090;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    padding: 4px 6px;
    outline: 0;
    -webkit-appearance: none;
    background: #FFFFFF;
	font-size: 2vw;
    font-weight: bold;
}
.forminput.rounded:focus {
    border-color: #FF8080;
}
input[name="phone"] { display:none; }
#bottom{
	width: 98.5%;
	position: fixed;
	bottom: 0px;
	text-align: center;
}
