.warning {
	color: #000000;
	font-size: 32px;
	font-weight: bold;
	font-family: Serif;
	text-decoration: none;
	text-shadow: 1px 1px #909090;
}
.warning:hover {
	text-decoration: underline;
	text-shadow: 1px 1px #FF4040;
}
.title {
	color: #FFFFFF;
	font-size: 32px;
	font-weight: bold;
	font-family: Serif;
	text-decoration: none;
	text-shadow: 1px 1px #909090;
}
.title:hover {
	text-decoration: underline;
	text-shadow: 1px 1px #FF4040;
}
div.transoval {
    border-radius: 25px;
    border: 2px solid #000000;
	background-image: url("../images/tpbg.png");
    padding: 10px; 
    width: 45%;
  	text-align: left;
	font-size: 2.2vw;
	font-family: monospace;
}
.btn {
    color: #000000;
    font-size: 12pt;
	font-weight: bold;
    text-decoration: none;
}
.liltxt {
    color: #404040;
    font-size: 8pt;
    text-decoration: none;
}
.forminput {
    border: 1px solid #909090;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    padding: 4px 6px;
    outline: 0;
    -webkit-appearance: none;
    background: #FFFFFF;
	font-size: 2vw;
    font-weight: bold;
}
.forminput.rounded:focus {
    border-color: #FF8080;
}
input[name="phone"] { display:none; }
#pagetop{
	width: 98.5%;
	position: fixed;
	top: 9px;
	text-align: center;
}
#bottom{
	width: 98.5%;
	position: fixed;
	bottom: 9px;
	text-align: center;
}
